
  
  .drag_things_to_boxes .component_box {
    float: left;
  }
  
  .box {
    border: 2px solid black;
    border-radius: 4px;
    width: 30%;
    height: 200px;
    margin: 5px;
    position: absolute;

  }
  .box_component{
    width: 30%;
    height: 200px;
    margin: 5px;
    position: absolute;
  }
  .drag_things_to_boxes .highlighted .box {
    box-shadow: inset 0 0 4px #00f;
  }
  
  .box_item_component {
    width: 100%;
  }
  
  .box_item_component .outer {
    border-top: none;
    min-width: 140px;
    max-width: 140px;
    overflow: hidden;
  }
  
  .box_item_component .highlighted .outer {
    border-top: 40px solid #ddd;
  }
  
  .box_item_component .item {
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 3px;
    background-color: #005577;
  }
  
  .box_item_component .grabber {
    font-size: 14px;
    font-weight: bold;
    padding-right: 6px;
  }

  .button_list{
    display: inline-block;
    margin: 10px 10px;
  }
  