.container {
    height: 90vh;
    overflow: auto;
    margin: 5px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center; /* vertically center label and button */
    margin: 0.5rem 1rem;
  }

.input {
    resize: none;
    font-family: 'Montserrat', sans-serif;
    width: rem;
    max-height: 5rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem auto;
}

.scoreBtn{
    width: 8rem;
    font-size: 1.5rem;
    margin: 0 auto;
    
}

.scoreBtn:hover {
    background-color: lightgreen;
}

.fileinput {
    display: flex;
    width: 50%;
    margin: 1rem auto;
}





.label{
    font-size: 2rem;
    color: white;
}