.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.btn {
    border-radius: 14px;
    background-color: lightblue;
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }


.my-2{
    margin-top: 1px;
}

.result_space_mini {
    width: 100%;
    height: 30%;
    overflow: auto;
    background-color: #2b2727;
    position: relative;
    bottom: 10px;
}

.custom-row {
    margin: 4px 0px;
    
  }

